<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
    integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous' />
  <link rel='stylesheet' href='/css/style.css' />
  <title>welcome to | E X Q U I S I T E C O R P S E</title>
</head>

<body class='background-img'>
  
  <!-- theme switch -->
  <div class="container">

    <form>
      <input id="dark-mode" class="toggle" type="checkbox" name="Dark mode" role="switch" value="on">
      <label for="dark-mode" class="sr"></label>
      <div class="curtain"></div>
    </form>

<header class="header">E X Q U I S I T E <em class="em"> C O R P S E</em></header>
<img class="background-img" src="/src/raven.png" width="55%">
<!-- <div class="background-welcome-img"> -->



    <!-- nav -->
    <ul class='nav justify-content-end'>
      {{#if logged_in}}
      <li id='nav-item'><a class='nav-link' href='/' id='logout'>Close the
          Book</a></li>
      {{else}}
      <li id='nav-item'><a class='nav-link' href='/login'>Tell Us Your Pen
          Name</a></li>
      {{/if}}
      <li id='nav-item'><a class='nav-link' href='/write'>Add to the Poem</a></li>
      <li id='nav-item'><a class='nav-link' href='/poem'>Read the Poem So Far</a></li>
    </ul>

    <div class='card'>

      {{{body}}}



    </div>

  </div>


  <script src='/js/logout.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='./public/js/login.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
</body>

</html>