<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href="/public/css/style.css">
    <title>E X Q U I S I T E  C O R P S E</title>
</head>
<body>
    <header class="header">E X Q U I S I T E  C O R P S E</header>
    <!-- NAV BAR -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="SIGN-UP/LOGIN">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="SIGN-UP/LOGIN">Log In</a>
          </li>
      </ul>
        
    </div>
    <!-- MAIN  -->
    <div class="main-container">
      {{{body}}}
        <!-- Content here this is the homepage-->
        <!-- new poem -->
        <!-- single poem -->
        <!-- edit poem -->
        <!-- login / sign up -->
      </div>
      <footer class="footer"></footer> 
      <script src="./public/js/login.js"></script>
</body>
</html>






 {{!--  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}