<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>E X Q U I S I T E  C O R P S E</title>
</head>
<body>
    <header class="header">E X Q U I S I T E  C O R P S E</header>
    <!-- NAV BAR -->
    <div> 

    <ul class="nav justify-content-end">
      {{#if logged_in}}
        <li class="nav-item">
          <a class="nav-link" id="logout" href="/">Log Out</a>
        </li>
          {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
              {{/if}}
      </ul>
    </div>
    <!-- MAIN  -->
    <div class="main-container">

               {{{ body }}}
        <!-- Content here this is the homepage-->
        <!-- new poem -->
        <!-- single poem -->
        <!-- edit poem -->
        <!-- login / sign up -->
      </div>
      <footer class="footer"></footer> 
      
      

  <script src="/js/logout.js"></script>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="./public/js/login.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>