<!--Homepage where user will get introduced to app.
Maybe we also display in-progress poems here that users can select?
Click the title and get taken to edit-poem?-->


<h1>TESTING HOMEPAGE</h1>

{{!-- 
{{#if logged_in}}
<h3 class="poem-background poem-copy">Welcome, {{name}}</h3>
{{else}}
<h3 class="poem-background poem-copy">Welcome, Poet-in-Waiting.</h3>
{{/if}}
 --}}