<!--Page where user will view a single finished poem.-->

<h1>EXQUISITE CORPSE TESTING: THIS IS WHERE ALL THE FRAGMENTS WILL APPEAR SOMEWHERE</h1>

<div class="row d-flex justify-content-center">
{{#each fragments as |fragment|}}
<ul class="list-group">
<li class="list-group-item">
  <div class="tooltip"> {{fragment.text_input}} <span class="tooltiptext"> Written by {{user.username}}</span>
    </div>
</li>
</ul>
{{/each}}
</div>