<!--Page where user will view a single finished poem.-->

<div class='row'>
  <div class='poem-background col-12 d-flex justify-content-center text-center'>
    <h1 class="poem-copy">The Poem</h1>
  </div>
</div>

{{#each fragments as |fragment|}}
  <div class='row'>
    <div class='poem-background col-12 d-flex justify-content-center text-center'>
  <p><a href="/poets/{{user.id}}" data-toggle="tooltip" title="Written by {{user.name}} on {{fragment.date_created}}">{{fragment.text_input}}</a>
      </p>
    </div>
  </div>
{{/each}}

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>