<!--Page where user will view a single finished poem.-->

<h1>EXQUISITE CORPSE TESTING: THIS IS WHERE ALL THE FRAGMENTS WILL APPEAR SOMEWHERE</h1>



{{#each fragments as |fragment|}}
<div class="justify-content-center"></div>
<ul class="list-group">
  <li class="list-group-item">{{fragment.text_input}} by {{user.username}}</li>
</ul>
</div>
{{/each}}