<!--Page where user will view a single finished poem.-->

<div class='row'>
  <div class='poem-background col-12 d-flex justify-content-center text-center'>

  </div>
</div>


  <div class='row'>
      <h1 class='poem-copy col-12 d-flex justify-content-center text-center'>The Poem</h1>
{{#each fragments as |fragment|}}
    <div
      class='row poem-background col-12 d-flex justify-content-center text-center'
    ><p><a
          href='/poets/{{user.id}}'
        ><span data-descr="Written by {{user.name}}">{{fragment.text_input}}</span></a>
      </p><br>
      {{/each}}
        </div>
</div>