<div class='row'>
  <div class='poem-background col-12 d-flex justify-content-center text-center'>
    <h1 class="poem-copy">{{name}}</h1>
  </div>
</div>

{{#each fragments as |fragment|}}
  <div class='row'>
    <div class='poem-background col-12 d-flex justify-content-center text-center'>
  <p>{{fragment.text_input}}
      </p>
    </div>
  </div>
{{/each}}