<!--Page where user will update/add to created poems.-->

<div row='col-12'>
<h2>Welcome, {{name}}. Let's Write Poetry.</h2>

<h4>Dip your quill and scribble a verse of less than 100 characters</h4>

<form id='write-form'>
  <textarea rows='4' cols='40' id='fragment'></textarea>
  <button type='submit' id='submit-poem'>Submit</button>
</form>

</div>
<script src='/js/submitFragment.js'></script>