/*color variables*/
:root {
  --back: #292231;
  --accent: rgb(59, 62, 89);
  --copy: #2b2927;
  --card: #f2e3d0;
  --link: #542265;
  --lightcopy: #ffffff;
}
<<<<<<< HEAD
/* ///////////////////////////////////////// */
* {
  margin: 5px;
  display: border=box;
  justify-content: space-between;
  align-items: center;
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
=======
/* ///////////////////////////////////////// */âˆ
* {
  margin: 5px;
>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5

}
/* break line  below header */
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
<<<<<<< HEAD
a {
  text-decoration: none;
}
p.important {
   border-style: solid; border-width: 2px; border-color: var(--link);
   border-radius: 5%;
   }
=======

>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5
.header {
  
  font-style: normal;
  font-weight: 900; 
  padding: 1.5em;
  color: var(--lightcopy);
}
.background-img {
  background-size: cover;
  background-attachment: fixed;
}
.footer {

}

/* //////////////////////////////////nav */
#nav-item {
  font-family: proxima-nova-n9, proxima-nova, sans-serif;
  color: var(--link);
<<<<<<< HEAD
  /* text-decoration: none; */
=======
  text-decoration: none;
>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5
  /* font-style: normal;
  font-weight: 900; */

}
/* ----------------------- */
.nav-link {
  color: var(--card);
<<<<<<< HEAD
  font-size: ;
=======
>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5
}
.nav-link:hover{
  color: var(--accent);
  font-style: italic;
}
/* ------------------------ */
.card {
  color: var(--card);
<<<<<<< HEAD
  border-radius: 2.5%;
  border: none;
  background-color: var(--card);
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 50%;
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
  /* vertical-align: baseline; */
}
.post {

=======
  border-radius: 25%;
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 100%;
  vertical-align: baseline;
>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5
}
body {
  display: flex;
  flex-direction: column;
  max-width: 625px;
  width: 100%;
<<<<<<< HEAD
  /* background-image: ; */
=======
>>>>>>> 69b1e5925aa45a67e8689a20cedc12d30a997af5
  background-color: var(--back);
  padding: 20px;
}
/* /////////////////////////////////////buttons */
.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--link);
  text-decoration: none;
  font-size: 100%;
}
.button:hover {
  color: var(--link);
  text-decoration: underline;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* positioning for tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}